<app-toolbar></app-toolbar>
<section>
    <div style="margin-top: 10%;">
        <mat-card style="width: 350px; border-radius: 15px; margin: auto; text-align: center;">
            <div style="font-weight: bold; font-size:20px; margin-block: 10px;">
                Success
            </div>
            <div>
                <img src="../../../assets/success.png" alt="" style="width: 110px;">
            </div>
            <div style="font-weight: bold; padding-block:10px; font-size: 18px;">
                Your payment has been recieved
            </div>
            <div style="color:rgb(165, 165, 165); padding-block:15px">
                A message has been send to the email you provided. Click on the Login button to active account
            </div>

            <button mat-button style="color:#1446A6; background: #f2f2f2; margin-block: 20px; width: 100px;">Log In</button>
       </mat-card> 
    </div>
</section>
<section style="position: absolute;
bottom: 0px; width: 100%;">
<app-smallfooter></app-smallfooter>
</section>
