<mat-toolbar style="background: white;">
    <span routerLink="/">

        <!-- <img src="../../../assets/logo.png" alt="" style="width: 110px; margin-top: 5px;"> -->
        <table>
            <tr>
                <td>
                    <img src="../../../assets/logo2.png" alt="" class="img-style-2">
                </td>
                <td>
                    <span style="color: #1E4591;">Biz Edge</span>
                </td>
            </tr>
        </table>
        
    </span>
    <span class="example-spacer"></span>
    <button mat-button class="btn-default">
        About
    </button>
    <span style="width:10px"></span>
    <button mat-button class="btn-default btn-custom1">
        Login
    </button>
</mat-toolbar>