<section style="background: #000; padding-block: 10px;">
    <section style="max-width:1150px; margin: auto; padding: 25px;">
       
        <!-- FLEX CONTAINER -->
        <div class="flex-container">

            <div class="flex-child-r">
                <div style="font-weight: bold; padding-block: 5px; font-size: 20px; color: #8F8C8C;">
                    COMPANY
                </div>
                <div class="footersubgroup">
                    About Us
                </div>
                <div class="footersubgroup">
                    Brand Guidlines
                </div>
                <div class="footersubgroup">
                    Blog
                </div>
            </div>
            <div class="flex-child-r">
                <div style="font-weight: bold; padding-block: 5px; font-size: 20px; color: #8F8C8C;">
                    PRODUCTS
                </div>
                <div class="footersubgroup">
                    RetailPOS
                </div>
                <div class="footersubgroup">
                    API systems
                </div>
                <div class="footersubgroup">
                    Respos
                </div>
            </div>
            <div class="flex-child-r">
                <div style="font-weight: bold; padding-block: 5px; font-size: 20px; color: #8F8C8C;">
                    HELP & SUPPORT
                </div>
                <div class="footersubgroup">
                    Contact Us
                </div>
                <div class="footersubgroup">
                    Contact Sales
                </div>
                <div class="footersubgroup">
                    FAQs
                </div>
            </div>
            <div class="flex-child-r">
                <div style="font-size: 18px; color: #fff;">
                    1 Ogunlowo Street, Off Ajao Rd, Ikeja, Lagos
                </div>
                <div style="padding-block: 20px;">
                    <table>
                        <tr>
                            <td>
                                <div style="margin-right: 10px;">
                                    <img src="../../../assets/facebook.png" alt="" style="width: 30px;">
                                </div>
                            </td>
                            <td>
                                <div style="margin-inline: 10px;">
                                    <img src="../../../assets/instagram.png" alt="" style="width: 30px;">
                                </div>
                            </td>
                            <td>
                                <div style="margin-inline: 10px;">
                                    <img src="../../../assets/linkedin.png" alt="" style="width: 30px;">
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            
        </div>
        <!-- END: FLEX CONTAINER -->
        
        <div style="padding-top: 10px;">
            <table>
                <tr>
                    <td>
                        <div style="margin-right: 10px;">
                            <img src="../../../assets/applestore.png" alt="" style="width: 130px;">
                        </div>
                    </td>
                    <td>
                        <div style="margin-inline: 10px;">
                            <img src="../../../assets/googlestore.png" alt="" style="width: 130px;">
                        </div>
                    </td>
                </tr>
            </table>
        </div>

    </section>
</section>