<section style="background: #474646; padding-block: 10px;">
    <div style="margin: auto; width: 360px;">
        <table>
            <tr>
                <td>
                    <div style="width: 120px; text-align: center; color: #fff;">
                        Terms of Use
                    </div>
                </td>
                <td>
                    <div style="width: 120px; text-align: center; color: #fff;">
                        Privacy Policy
                    </div>
                </td>
                <td>
                    <div style="width: 120px; text-align: center; color: #fff;">
                        Copyright 2020
                    </div>
                </td>
            </tr>
        </table>
    </div>
</section>