<section style="background: #474646; padding-block: 10px;">
    <div style="margin: auto; width: 360px;">
        <table>
            <tr>
                <td>
                    <div routerLink="/terms" style="width: 100px; text-align: center; color: #ccc; cursor: pointer; font-size: 13px;">
                        Terms of Use
                    </div>
                </td>
                <td>
                    <div routerLink="/privacypolicy" style="width: 100px; text-align: center; color: #ccc; cursor: pointer; font-size: 13px;">
                        Privacy Policy
                    </div>
                </td>
                <td>
                    <div style="width: 100px; text-align: center; color: #ccc; font-size: 13px;">
                        © {{cYear}} Biz Edge
                    </div>
                </td>
            </tr>
        </table>
    </div>
</section>