<app-toolbar></app-toolbar>

<section style="padding-block: 50px; padding: inline 20px;">

    <section style=" margin: auto;">
       
        <div class="flex-container" (window:resize)="ResizePage()">

            <div *ngIf="mobileView == false" class="flex-child gs-first" style=" vertical-align: middle;  display: table-cell;">
                <div style="margin-top: 10%;  
                ">

                    <div style=" text-align:left; max-width: 80%; margin: auto">
                        <div style="padding: 50px;">
                            <img src="../../../assets/logo2.png" alt="" class="img-style">
                        </div>


                        <div style="font-size: 30px; padding-block: 10px;">
                            Get started today
                        </div>
                        <div style="font-size: 20px; padding-block: 10px;">
                            Experience how Biz Edge can help you...
                        </div>

                        <div style="padding-block: 20px;">
                            <table>
                                <tr>
                                    <td>
                                        <div class="def-margin">
                                            <span><img src="../../../assets/checked.png" alt="" style="width: 23px;"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="def-margin">
                                            <div style="font-size: 19px; color: #555;">Get staff up & running with minimal training</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="def-margin">
                                            <span><img src="../../../assets/checked.png" alt="" style="width: 23px;"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="def-margin">
                                            <div style="font-size: 19px; color: #555;">Effectively manage stock</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="def-margin">
                                            <span><img src="../../../assets/checked.png" alt="" style="width: 23px;"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="def-margin">
                                            <div style="font-size: 19px; color: #555;">Quickly & easily make sales</div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="def-margin">
                                            <span><img src="../../../assets/checked.png" alt="" style="width: 23px;"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="def-margin">
                                            <div style="font-size: 19px; color: #555;">Work seamlessly with all of your systems</div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        
                    </div>
                </div>

            </div>
            
            
            <div class=" gs-second">
                <div style="max-width: 500px; margin:auto; ">
                    <mat-card style=" padding-inline: 0px; border-radius: 10px; min-height: 650px; padding-block: 20px; margin-inline: 20px;">

                        <section *ngIf="gswizarddisplay == true">

                            <div style="padding-inline: 20px; padding-block: 5px; margin-left: 15px; border: 1px solid #00c4b7; width:fit-content; border-radius: 30px; color: #000; margin: auto;">
                                {{choosenPlan}} <span >Plan</span>
                            </div>

                            <div *ngIf="stepView[0]== true">
                                <div style="text-align: center; padding-top: 10px; padding-bottom: 40px;">
                                   
                                    <div style="font-size: 30px; align-items: center; text-align: center; width: fit-content; margin: auto;">
                                        <table>
                                            <tr>
                                                <td>
                                                    <div> <span style="color: #555; font-size: 17px;">{{currencySymbol}}</span>{{choosenRate | number: '1.0-0'}} </div>
                                                </td>
                                                <td>
                                                    <span style="font-size: 13px;">mon/till</span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div> 
                            </div>
                            <div *ngIf="stepView[0]!= true">
                                <div style="text-align: center; padding-top: 10px; padding-bottom: 40px;">
                                    <div style="font-size: 30px; align-items: center; text-align: center; width: fit-content; margin: auto;">
                                        <div style="font-size: 30px; align-items: center; text-align: center; width: fit-content; margin: auto;">
                                            <table>
                                                <tr>
                                                    <td>
                                                        <div> <span style="color: #555; font-size: 17px;">{{currencySymbol}}</span>{{choosenRate | number: '1.0-0'}} </div>
                                                    </td>
                                                    <td>
                                                        <span style="font-size: 13px;">mon/till</span>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </section>



                        <div *ngIf="gswizarddisplay == true">


                            <!-- INDICATOR START -->
                            <div style="width: fit-content; margin:auto">
                                <table>
                                    <td>
                                        <div [class]="stepStatus[0]">
                                            1
                                        </div>
                                    </td>
                                    <td>
                                        <div class="indicator-connector"></div>
                                    </td>
                                    <td >
                                        <div [class]="stepStatus[1]">
                                            2
                                        </div>
                                    </td>
                                    <td>
                                        <div class="indicator-connector"></div>
                                    </td>
                                    <td >
                                        <div  [class]="stepStatus[2]">
                                            3
                                        </div>
                                    </td>
                                    <td>
                                        <div class="indicator-connector"></div>
                                    </td>
                                    <td >
                                        <div [class]="stepStatus[3]">
                                            4
                                        </div>
                                    </td>
                                </table>
                            </div>
                            <!-- END INDICATOR -->

                            <!-- STEP 1 -->
                            <div *ngIf="stepView[0]== true">
                                <form [formGroup]="step1Form">
                                    <div class="wizard-step-input-margin">
                                        <div style="font-size: 20px; font-weight:bold; padding-top: 50px; padding-bottom: 20px;">
                                            Business Option
                                        </div>
                                        <mat-form-field  appearance="outline">
                                            <mat-label>Industry</mat-label>
                                            <mat-select name="city" formControlName="industry" (selectionChange)="get_businesstype_function($event.value)">
                                                <div *ngFor="let data of industry_options" >
                                                <mat-option [value]="data['id']">{{data['name']}}</mat-option>
                                            </div>
                                            </mat-select>
                                        </mat-form-field>


                                        <mat-form-field  appearance="outline">
                                            <mat-label>Business Type</mat-label>
                                            <mat-select name="city" formControlName="businesstype"  >
                                                <mat-option  *ngFor="let data of businesstype_options" [value]="data['id']">{{data['name']}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                    <div style="position: absolute; bottom: 0;" class="wizard-step-btn-margin">
                                        
                                        <table>
                                            <tr>
                                                <td style="width: 1000px;">
                                                    <div>
                                                        <button mat-button routerLink="/" class="back-btn"><mat-icon>keyboard_backspace</mat-icon> Back</button>
                                                    </div>
                                                </td>
                                                <td style="width: 1000px;">
                                                    <div style="float: right;">
                                                        <button mat-button type="submit"  (click)="step1Validate()" class="continue-btn">Continue</button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                        <app-termsbottomtext></app-termsbottomtext>
                                    </div>
                                </form>
                            </div>
                            <!-- END:  STEP 1 -->



                            <!-- STEP 2 -->
                            <div *ngIf="stepView[1]== true">
                                <form [formGroup]="step2Form">
                                    <div class="wizard-step-input-margin">
                                        <div style="font-size: 20px; font-weight:bold; padding-top: 50px; padding-bottom: 20px;">
                                            Locations & Tills
                                        </div>
                                        <mat-form-field  appearance="outline">
                                            <mat-label>Number of Locations</mat-label>
                                            <mat-select name="city" formControlName="locations" >
                                                <div *ngFor="let data of location_options">
                                                <mat-option value="{{data}}">{{data}}</mat-option>
                                            </div>
                                            </mat-select>
                                        </mat-form-field>


                                        <mat-form-field  appearance="outline">
                                            <mat-label>Number of Tills</mat-label>
                                            <mat-select name="city" formControlName="tills" (selectionChange)="re_calculatepriceWithTill($event.value)">
                                                <div *ngFor="let data of tills_options">
                                                <mat-option [value]="data">{{data}}</mat-option>
                                            </div>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div style=" position: absolute; bottom: 0;" class="wizard-step-btn-margin">
                                        <table>
                                            <tr>
                                                <td style="width: 1000px;">
                                                    <div>
                                                        <button mat-button (click)="previousStep()" class="back-btn"><mat-icon>keyboard_backspace</mat-icon> Back</button>
                                                    </div>
                                                </td>
                                                <td style="width: 1000px;">
                                                    <div style="float: right;">
                                                        <button mat-button type="submit" (click)="step2Validate()" class="continue-btn">Continue</button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                        <app-termsbottomtext></app-termsbottomtext>
                                    </div>
                                </form>
                            </div>
                            <!-- END:  STEP 2 -->










                            <!-- STEP 3 -->
                            <div *ngIf="stepView[2]== true">
                                
                                <form [formGroup]="step3Form">
                                    <div class="wizard-step-input-margin">
                                        <div style="font-size: 20px; font-weight:bold; padding-top: 50px; padding-bottom: 20px;">
                                            Company Info
                                        </div>
                                        <mat-form-field appearance="outline">
                                            <mat-label>Business Name</mat-label>
                                            <input matInput type="text" formControlName="businessname" placeholder="">
                                        </mat-form-field>
                                        <mat-form-field appearance="outline">
                                            <mat-label>Business Email Address</mat-label>
                                            <input matInput type="email" formControlName="businessemailaddress" placeholder="" email="true">
                                        </mat-form-field>
                                        <div class="flex-container">
                                            <div class="phonecode-col">
                                                <mat-form-field appearance="outline" style="width: 100px;">
                                                    <mat-label>Code</mat-label>
                                                    <mat-select name="phonecode" formControlName="businessphonecode" >
                                                            <mat-option  *ngFor="let data of phonecode_options" value="{{data}}">{{data}}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="phonenumber-col">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Phone number</mat-label>
                                                    <input matInput type="figure" formControlName="businessphonenumber" placeholder="">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <mat-form-field appearance="outline">
                                            <mat-label>Website</mat-label>
                                            <input matInput type="text" formControlName="website" placeholder="">
                                        </mat-form-field>
                                        <mat-form-field appearance="outline">
                                            <mat-label>Office Address</mat-label>
                                            <input matInput type="text" formControlName="officeaddress" placeholder="">
                                        </mat-form-field>
                                        <mat-form-field appearance="outline">
                                            <mat-label>Additional Information</mat-label>
                                            <input matInput type="text" formControlName="additionalinfo" placeholder="">
                                        </mat-form-field>
                                        <mat-form-field  appearance="outline">
                                            <mat-label>Country</mat-label>
                                            <mat-select name="city" formControlName="businesscountry" (selectionChange)="get_state_function($event.value)">
                                                <div *ngFor="let data of country_options" >
                                                <mat-option [value]="data['id']">{{data['name']}}</mat-option>
                                            </div>
                                            </mat-select>
                                        </mat-form-field>
                                       
                                        <table>
                                            <tr>
                                                <td style="width: 1000px;">
                                                    <mat-form-field appearance="outline">
                                                        <mat-label>City</mat-label>
                                                        <input matInput type="text" formControlName="businesscity" placeholder="">
                                                    </mat-form-field>
                                                </td>
                                                <td style="width: 1000px;">
                                                    <mat-form-field  appearance="outline">
                                                        <mat-label>State</mat-label>
                                                        <mat-select name="city" formControlName="businessstate" >
                                                            <mat-option *ngFor="let data of state_options" [value]="data['id']">{{data['name']}}</mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </td>
                                            </tr>
                                        </table>
                                      


                                    </div>
                                    <div class="wizard-step-btn-margin">
                                        <table>
                                            <tr>
                                                <td style="width: 1000px;">
                                                    <div>
                                                        <button mat-button (click)="previousStep()" class="back-btn"><mat-icon>keyboard_backspace</mat-icon> Back</button>
                                                    </div>
                                                </td>
                                                <td style="width: 1000px;">
                                                    <div style="float: right;">
                                                        <button mat-button type="submit"  (click)="step3Validate()" class="continue-btn">Continue</button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                        <app-termsbottomtext></app-termsbottomtext>
                                    </div>
                                </form>
                            </div>
                            <!-- END:  STEP 3 -->









                            <!-- STEP 4 -->
                            <div *ngIf="stepView[3]== true">
                                


                                
                                <form [formGroup]="step4Form">
                                    <div class="wizard-step-input-margin">
                                        <div style="font-size: 20px; font-weight:bold; padding-top: 50px; padding-bottom: 20px;">
                                            Personal Info
                                        </div>
                                        <mat-form-field appearance="outline">
                                            <mat-label>First Name</mat-label>
                                            <input matInput type="text" formControlName="firstname" placeholder="">
                                        </mat-form-field>
                                        <mat-form-field appearance="outline">
                                            <mat-label>Last Name</mat-label>
                                            <input matInput type="text" formControlName="lastname" placeholder="">
                                        </mat-form-field>
                                        <div>

                                        </div>
                                        <div class="flex-container">
                                            <div class="phonecode-col">
                                                <mat-form-field appearance="outline" style="width: 100px;">
                                                    <mat-label>Code</mat-label>
                                                    <mat-select name="city" formControlName="phonecode" >
                                                        <div *ngFor="let data of phonecode_options">
                                                            <mat-option value="{{data}}">{{data}}</mat-option>
                                                        </div>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="phonenumber-col">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Phone number</mat-label>
                                                    <input matInput type="figure" formControlName="phonenumber" placeholder="">
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <mat-form-field appearance="outline">
                                            <mat-label>Email Address</mat-label>
                                            <input matInput type="email" formControlName="personalemailaddress" placeholder="" email="true">
                                        </mat-form-field>
                                        <mat-form-field appearance="outline">
                                            <mat-label>Password</mat-label>
                                            <input matInput [type]="hidePasswordBool" formControlName="password" placeholder="">
                                            <mat-icon matSuffix (click)="hidepass()" style="cursor: pointer;">remove_red_eye</mat-icon>
                                        </mat-form-field>


                                    </div>
                                    <div class="wizard-step-btn-margin">
                                        <table>
                                            <tr>
                                                <td style="width: 1000px;">
                                                    <div>
                                                        <button mat-button (click)="previousStep()" class="back-btn"><mat-icon>keyboard_backspace</mat-icon> Back</button>
                                                    </div>
                                                </td>
                                                <td style="width: 1000px;">
                                                    <div style="float: right;">
                                                        <button mat-button type="submit"  (click)="step4Validate()" class="continue-btn">Continue</button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                        <app-termsbottomtext></app-termsbottomtext>
                                    </div>
                                </form>
                            </div>
                            <!-- END:  STEP 4 -->

                        </div>



                        <DIV id="summary" *ngIf="gswizarddisplay == false">
                            <div class="def-margin-large" style="text-align: center; font-weight:bold; font-size: 20px;">
                                Summary
                            </div>
                            <div class="wizard-step-input-margin">
                                <section class="def-margin-large">
                                

                                
                                    <div  style="font-weight: bold;">
                                        Business
                                    </div>
                                    <div style="padding: 10px; border-radius:3px; background: #f5f5f5; border: 1px solid #ddd;">
                                        <div style="margin-block: 4px;">
                                            <span style="font-weight: bold; color: #888;">Name: &nbsp;&nbsp;</span> {{picked_businessname}}
                                        </div>
                                        <div style="margin-block: 4px;">
                                            <span style="font-weight: bold; color: #888;">Address: &nbsp;&nbsp;</span>  {{picked_officeaddress}}
                                        </div>
                                        <div style="margin-block: 4px;">
                                            <span style="font-weight: bold; color: #888;">Contact: &nbsp;&nbsp;</span> +{{picked_phonecode + ' '+picked_phonenumber}}
                                        </div>
                                    </div>
                                </section>
    
                                <section class="def-margin-large">
                                    <div  style="font-weight: bold;">
                                        Selected Features
                                    </div>
                                    <div style="padding: 10px; border-radius:3px; background: #f5f5f5; border: 1px solid #ddd;">
                                        <table>
                                            <tr>
                                                <td style="width: 1000px;">
                                                    <div>
                                                        Plan
                                                    </div>
                                                </td>
                                                <td style="width: 1000px;">
                                                    <div style="float: right;">
                                                        {{choosenPlan}}
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 1000px;">
                                                    <div>
                                                        Rate
                                                    </div>
                                                </td>
                                                <td style="width: 1000px;">
                                                    <div style="float: right;">
                                                        {{currencySymbol}}{{choosenRate | number: '1.0-0'}} 
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 1000px;">
                                                    <div>
                                                        Tills Added
                                                    </div>
                                                </td>
                                                <td style="width: 1000px;">
                                                    <div style="float: right;">
                                                        {{picked_tills}}
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 1000px;">
                                                    <div>
                                                        Billing Cycle
                                                    </div>
                                                </td>
                                                <td style="width: 1000px;">
                                                    <div style="float: right;">
                                                        {{picked_billingcycle}}
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 1000px;">
                                                    <div>
                                                        Months
                                                    </div>
                                                </td>
                                                <td style="width: 1000px;">
                                                    <div style="float: right;">
                                                        {{picked_months}}
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </section>
    
                                <section>
                                    <div  style="font-weight: bold;">
                                        Card Accepted
                                    </div>
                                    <div style="padding-block: 10px;">                            
                                        <img src="../../../assets/mastercard.png" alt="" style="width: 50px; margin-right: 20px;">
                                        <img src="../../../assets/visa.png" alt="" style="width: 50px;">
                                    </div>
                                </section>
    
    
                                <section style="text-align: right; padding-block: 30px;">
                                  
                                    <div style=" padding-top:10px;">
                                        <div style="font-size: 26px; font-weight:bold;">
                                          <span style="color: #777; font-weight: normal; font-size: 16px;">Payable: &nbsp;</span>{{currencySymbol}}{{totalPayable | number: '1.0-0'}} <span style="font-size: 16px; font-weight: normal;">{{picked_billingcycle}}</span>
                                        </div>
                                    </div>
                                    
                                </section>
                            </div>

                            

                            <div   class="wizard-step-btn-margin">
                                <table>
                                    <tr>
                                        <td style="width: 1000px;">
                                            <div>
                                                <button mat-button (click)="backtoWizard()" class="back-btn"><mat-icon>keyboard_backspace</mat-icon> Back</button>
                                            </div>
                                        </td>
                                        <td style="width: 1000px;">
                                            <div style="float: right;">


                                                <button mat-button
                                               
                                                angular4-paystack
                                                [paystackOptions]="options"

                                                (paymentInit)="paymentInit()"
                                                (onClose)="paymentCancel($event)"
                                                (callback)="paymentDone($event)"
                                                
                                                class="continue-btn">Pay</button>



                                                 
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <app-termsbottomtext></app-termsbottomtext>
                            </div>


                        </DIV>

                    </mat-card>
                </div>

            </div>
            
          </div>

    </section>
    

</section>


<section style="position:relative;
bottom: 0px; width: 100%;">
<app-customfooter></app-customfooter>
</section>

