/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.plan-title-text{
     font-size:15px;
    color: #888;
    padding-block: 10px;
    
}
.plan-subtitle{
    font-size: 20px;
    font-weight: bold;
    padding-block: 10px;
}


.img-style{
    background: #fff;
    width: 50px; 
    border: 1px solid #ddd; 
    padding-inline: 17px; 
    padding-block: 7px; 
    border-radius: 8px;
}


