<app-toolbar></app-toolbar>
<section>
    <div style="margin-top: 10%;">
        <mat-card style="width: 350px; border-radius: 15px; margin: auto; text-align: center;">
            <div style="font-weight: bold; font-size:20px; margin-block: 10px;">
                Failed
            </div>
            <div>
                <img src="../../../assets/failed.png" alt="" style="width: 130px;">
            </div>
            <div style="font-weight: bold; padding-block:20px;">
                Your payment was not successful
            </div>
            <div style="color:#444; padding-block:20px">
                Your payment failed, would you like to try again?
            </div>

            <button mat-button style="color:#1446A6; background: #f2f2f2; margin-block: 20px;">Try Again</button>
       </mat-card> 
    </div>
</section>
<section style="position: absolute;
bottom: 0px; width: 100%;">
<app-smallfooter></app-smallfooter>
</section>
